*{
    margin:0;
    padding:0;

}
.header{
    width:100%;
    height:400px;
    background:url(../img/header.jpg);
}
.navbar{
    width:100%;
    height:50px;
    background:rgb(0, 0, 0);
 }
.content{
    width:100%;
    height:500px;
    background:gray;
}
li{
    float:left;
    margin: 15px 25px;
    color: aliceblue;
    list-style-type: none;
}
li a{
    color: aliceblue;
    text-decoration:none;
}
li a:hover{
    color:greenyellow;
}

